.App {
  text-align: center;
  font-family: 'Nunito';
}

body {
  background-image: url('https://images.unsplash.com/photo-1518022525094-218670c9b745?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fHN1bnNldHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
}

h1 {
  font-size: 40px;
  color:aliceblue;
  font-family: 'McLaren';
}
.intro {
  font-size: 16px;
  color:aliceblue;
  font-family: 'Nunito';
}

.search-bar {
  display: flex;
  justify-content: center;
}

input {
  margin-top: 10px;
  padding: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color:rgb(255, 255, 255);
  border-width: 1px;
  background: rgba(0, 0, 0, 0.1);
  color:aliceblue;
}

input:focus {
  outline: none;
}


.weather-data {
  margin: auto;
  margin-top: 40px;
  width: 400px;
  justify-content: center;
  text-align: left;
}

.content {
  padding: 10px;
  background-color:#dcdbd7c0;
}


.city {
  font-weight: 500;
  font-size: 40px;
  margin-top: -10px;
  margin-left:-2px;
  width: 250px;
}

.temp {
  font-size: 80px;
  text-align: right;
  position:relative;
  margin-top: -200px;
}

.desc {
  font-size: 20px;
  margin-top: -35px;
  color:rgb(186, 186, 185);
}
.temperature {
  text-align: right;
  position:static;
}

.moredets {
  margin-top: -50px;
  text-align: right;
  color:rgb(160, 160, 160);
}

.wind {
  text-align:right;
  margin-right: 4px;
}

.humidity {
  text-align:right;
  margin: auto;
  margin-right: 3px;
}

.icon {
  margin-top: auto;
}

